@model CabAutomationSystem.Models.Cab

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JourneyTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JourneyTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JourneyPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JourneyPlace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CabId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
