@model IEnumerable<CabAutomationSystem.Models.DropPoint>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DropPointName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewDropPointName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DropPointName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewDropPointName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.RouteName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DropPointId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DropPointId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DropPointId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
